:root {
  --wp-back-top-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --wp-back-top-background-radius: 22px;
  --wp-back-top-background-height: 44px;
  --wp-back-top-background-width: 44px;
  --wp-back-top-background-color: rgb(9, 150, 239);
  --wp-back-top-box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.12);
  --wp-back-top-duration: 0.3s;
  --wp-back-top-icon-color: rgb(255, 255, 255);
  --wp-back-top-icon-size: 20px;
}

.wp-back-view {
  width: 100%;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: right;
  padding-right: 40px;
  pointer-events: none;
}

.wp-back-top {
  position: absolute;
  bottom: 40px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  color: var(--wp-back-top-icon-color);
  transition: color .3s var(--wp-back-top-bezier),
  box-shadow .3s var(--wp-back-top-bezier),
  background-color .3s var(--wp-back-top-bezier);
  border-radius: var(--wp-back-top-background-radius);
  height: var(--wp-back-top-background-height);
  width: var(--wp-back-top-background-width);
  box-shadow: var(--wp-back-top-box-shadow);
  background-color: var(--wp-back-top-background-color);
  font-size: var(--wp-back-top-icon-size);
}

.wp-back-top-fade-enter-active,
.wp-back-top-fade-leave-active, {
  transition: var(--wp-back-top-duration);
}

.wp-back-top-fade-enter-from,
.wp-back-top-fade-leave-to {
  transform: scale(.8);
  opacity: 0;
}


