@use 'sass:map';

@use 'common/var' as *;
@use 'mixins/button' as *;
@use 'mixins/mixins' as *;
@use 'mixins/utils' as *;
@use 'mixins/var' as *;

@include b(button){
  @include set-component-css-var("button", $button)
}

@include b(button) {
  display: inline-flex;
  line-height: 1;
  min-height: map.get($input-height, 'default');
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--wp-button-bg-color, #{map.get($button, 'bg-color')});
  border: var(--wp-border-base);
  border-color: var(
                  --wp-button-border-color,
                  #{map.get($button, 'border-color')}
  );
  color: var(--wp-button-text-color, #{map.get($button, 'text-color')});
  -webkit-appearance: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: var(--wp-button-font-weight);
  user-select: none;

  & + & {
    margin-left: 10px;
  }

  @include button-size(
                  map.get($button-padding-vertical, 'default'),
                  map.get($button-padding-horizontal, 'default'),
                  map.get($button-font-size, 'default'),
                  map.get($button-border-radius, 'default')
  );

  &:hover,
  &:focus {
    color: var(--wp-button-hover-text-color);
    border-color: var(
                    --wp-button-hover-border-color,
                    var(--wp-button-hover-bg-color)
    );
    background-color: var(--wp-button-hover-bg-color);
    outline: none;
  }

  &:active {
    color: var(--wp-button-active-text-color);
    border-color: var(
                    --wp-button-active-border-color,
                    var(--wp-button-active-bg-color)
    );
    background-color: var(
                    --wp-button-active-bg-color,
                    var(--wp-button-bg-color)
    );
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  & [class*='#{$namespace}-icon'] {
    & + span {
      margin-left: 5px;
    }
    &:last-child:not(:only-child) {
      margin-left: 5px;
    }
    svg {
      vertical-align: bottom;
    }
  }

  @include when(plain) {
    --wp-button-active-text-color: #{mix(
        $color-black,
        $color-primary,
        $button-active-shade-percent
      )};
    --wp-button-active-border-color: #{mix(
        $color-black,
        $color-primary,
        $button-active-shade-percent
      )};

    --wp-button-hover-text-color: var(--wp-color-primary);
    --wp-button-hover-bg-color: var(--wp-color-white);
    --wp-button-hover-border-color: var(--wp-color-primary);
  }

  @include when(active) {
    color: var(--wp-button-active-text-color);
    border-color: var(
      --wp-button-active-border-color,
      --wp-button-active-bg-color
    );
    background-color: var(--wp-button-active-bg-color);
    outline: none;
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: var(--wp-button-disabled-text-color);
      cursor: not-allowed;
      background-image: none;
      background-color: var(--wp-button-disabled-bg-color);
      border-color: var(--wp-button-disabled-border-color);
    }

    &.#{$namespace}-button--text {
      background-color: transparent;
    }

    &.is-plain {
      &,
      &:hover,
      &:focus {
        background-color: var(--wp-color-white);
        border-color: var(--wp-button-disabled-border-color);
        color: var(--wp-button-disabled-text-color);
      }
    }
  }

  @include when(loading) {
    position: relative;
    pointer-events: none;
    .wp-spin{
      display: inline-block;
      margin-right: 10px;
      color: #ffffff;
    }

    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255, 255, 255, 0.35);
    }
  }
  @include when(round) {
    border-radius: var(--wp-border-radius-round);
    padding: 12px 23px;
  }
  @include when(circle) {
    border-radius: 50%;
    padding: map.get($button-padding-vertical, 'default');
  }

  @include e(text) {
    @include m(expand) {
      letter-spacing: 0.3em;
      margin-right: -0.3em;
    }
  }

  @include m(default) {
    --wp-button-text-color: var(--wp-text-color-regular);
    --wp-button-hover-text-color: var(--wp-color-primary);
    --wp-button-disabled-text-color: var(--wp-text-color-placeholder);
  }

  @each $type in (primary, success, warning, danger, info) {
    @include m($type) {
      @include button-variant($type);
    }
  }

  @each $size in (medium, small, mini) {
    @include m($size) {
      min-height: map.get($input-height, $size);

      @include button-size(
                      map.get($button-padding-vertical, $size),
                      map.get($button-padding-horizontal, $size),
                      map.get($button-font-size, $size),
                      map.get($button-border-radius, $size)
      );

      @include when(circle) {
        padding: map.get($button-padding-vertical, $size);
      }
    }
  }

  @include m(text) {
    border-color: transparent;
    color: var(--wp-color-primary);
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      color: var(--wp-color-primary-light-2);
      border-color: transparent;
      background-color: transparent;
    }
    &:active {
      color: mix($color-black, $color-primary, $button-active-shade-percent);
      border-color: transparent;
      background-color: transparent;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      border-color: transparent;
    }
  }
}

.wp-button-group {
  display: inline-block;
  vertical-align: middle;
  &:before{
    display: table;
    content: "";
  }
  &:after{
    display: table;
    content: "";
    clear: both;
  }
  .wp-button{
    &+.wp-button{
      margin-left: 0;
    }
  }
  &>.wp-button:not(:last-child){
    margin-right: -1px;
  }
  &>.wp-button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .wp-button--primary:not(:first-child):not(:last-child) {
    border-left-color: hsla(0,0%,100%,.5);
    border-right-color: hsla(0,0%,100%,.5);
  }
  .wp-button--primary:last-child {
    border-left-color: hsla(0,0%,100%,.5);
  }
  &>.wp-button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .wp-button--primary:first-child {
    border-right-color: hsla(0,0%,100%,.5);
  }
  &>.wp-button:not(:last-child) {
    margin-right: -1px;
  }
  &>.wp-button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &>.wp-button {
    float: left;
    position: relative;
  }
}
