:root {

}

$unit15: 15px;
.wp-calendar {
    border-radius: 6px;
    overflow: hidden;
    user-select: none;
    padding: 15px;
    flex: 1;
    &-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: $unit15;
        &-icon {
            width: 22px;
            height: 22px;
            color: #999999;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            cursor: pointer;

            &:hover {
                color: #0088FF;
            }
        }

        &-title {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            color: #666666;
            line-height: 25px;
            font-weight: bold;

            span {
                &:hover {
                    color: #0088ff;
                    cursor: pointer;
                }
            }
        }
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        padding: $unit15 0;

        .wp-calendar-content-day-header{
            flex-shrink: 0;
            width: calc(100% / 7);
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 30px;
        }
        .wp-calendar-content-day-week{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .wp-calendar-content-day{
                flex: 1;
                width: calc(100% / 7);
                display: flex;
                align-items: center;
                min-height: 30px;
            }
        }

        &-day {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            margin-bottom: 15px;

            &-cell {
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                cursor: pointer;

                &:active, &:hover {
                    background-color: #a2a2a2;
                }

                &.isEvent {
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        bottom: 2px;
                        transform: translateX(-50%);
                        width: 3px;
                        height: 3px;
                        border-radius: 100%;
                        background-color: #fda023;
                    }
                ;
                }

                &.isActive {
                    background-color: #277ffc;
                    color: #FFFFFF;

                    &.isEvent {
                        &:before {
                            background-color: #FFFFFF;
                        }
                    }
                }

            }
            &-lunar{
                &.isLunarFestival{
                    color: #f43e4e !important;
                }
            }

            &-header {
                border-bottom: 1px solid #eeeeee;
                margin-bottom: 15px;
            }
            &-event{
                width: 100%;
                &-cell{
                    background-color: #ffe4dd;
                    border-radius: 2px;
                    margin-top: 3px;
                    padding:2px 5px;
                    font-size: 12px;
                    color: #ff724b;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &-icon{
                        color: #ff724b !important;
                        margin-left: 5px;
                    }
                    &:hover{
                        background-color: #ff724b;
                        color: #ffffff;
                        .wp-calendar-content-day-event-cell-icon{
                            color: #ffffff !important;
                        }
                    }
                    &-success{
                        background-color: green;
                        color: #ffffff;
                        .wp-calendar-content-day-event-cell-icon{
                            color: #ffffff !important;
                        }
                        &:hover{
                            background-color: #01a201;
                            color: #ffffff;
                            .wp-calendar-content-day-event-cell-icon{
                                color: #ffffff !important;
                            }
                        }
                    }
                }
            }

            &.prev, &.next {
                color: #bababa;
                .wp-calendar-content-day-event{
                    .wp-calendar-content-day-event-cell{
                        background-color: #d8d8d8;
                        color: #999999;
                        &-icon{
                            color: #ffffff !important;
                        }
                    }
                }
            }
            &-disabled{
                cursor: not-allowed;
                background-color: #f5f7fa;
                .wp-calendar-content-day-cell{
                    cursor: not-allowed;
                    color: #d8d8d8;
                    &:hover{
                        background-color: transparent;
                    }
                }
            }

            &-active-map{
                .wp-calendar-content-day-cell{
                    background-color: #ff724b;
                    color: #FFFFFF;
                    box-shadow: 0 0 0 3px #ffd4ca;
                    &.isEvent {
                        &:before {
                            background-color: #FFFFFF;
                        }
                    }
                }
            }
        }

        &-year {
            width: calc(100% / 4);
            min-height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                &:hover {
                    color: #0088FF;
                    cursor: pointer;
                }

                &.active {
                    color: #0088FF;
                    font-weight: bold;
                }
            }
        }

        &-month {
            width: calc(100% / 4);
            min-height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                &:hover {
                    color: #0088FF;
                    cursor: pointer;
                }

                &.active {
                    color: #0088FF;
                    font-weight: bold;
                }
            }
        }
    }
    &-lunar{
        border:2px solid #5e67ef;
        .wp-calendar-content{
            //gap: 5px;
            //& > *{
            //    width: calc((100%  - 5px * 6) / 7);
            //}
        }
        .wp-calendar-content-day-week{
            gap: 5px;
        }
        .wp-calendar-content-day{
            min-height: 80px;
            border-radius: 6px;
            cursor: pointer;
            border:2px solid transparent;
            padding: 10px 0;
            span{
                &:hover{
                    background-color: transparent;
                }
                &.wp-calendar-content-day-cell{
                    font-weight: bold;
                }
            }
            &.current{
                span{
                    color: #000000;
                    &.isActive{
                        background-color: transparent;
                        &:before{
                            background-color: #5e67ef;
                        }
                    }
                }
            }
            .wp-calendar-content-day-lunar{
                width: auto;
                font-size: 12px;
            }
            &:hover{
                border:2px solid #d8d8d8;
            }
            &.isActive{
                border:2px solid #5e67ef;
            }
            &.isWeek{
                .wp-calendar-content-day-cell{
                    color: #fbaaae;
                }
                &.current{
                    .wp-calendar-content-day-cell{
                        color: #f6434c;
                    }
                }

            }
            &-disabled{
                cursor: not-allowed;
                background-color: #f5f7fa;
                .wp-calendar-content-day-cell{
                    cursor: not-allowed;
                    color: #d8d8d8;
                    &:hover{
                        background-color: transparent;
                    }
                }
            }
            &-active-map{
                border:2px solid #ff724b !important;
                background-color: #ffd4ca;
                overflow: hidden;
                .wp-calendar-content-day-cell{
                    background-color: transparent;
                    color: #FFFFFF;
                    box-shadow: 0 0 0 3px transparent;
                    &.isEvent {
                        &:before {
                            background-color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
    &-layout{
        display: flex;
        $w:150px;
        &-panel{
            border-left: 1px solid #eeeeee;
            padding: 15px;
            min-width: $w;
            display: flex;
            flex-direction: column;
            align-items: center;
            &-title{
                font-size: 18px;
                margin-bottom: 15px;
                text-align: center;
            }
            &-btns{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                &>*{
                    flex: 1;
                    width: 100%;
                    margin: 0 !important;
                }
            }
        }
        &-lunar{
            .wp-calendar-lunar{
                border-radius: 6px 0 0 6px;
            }
            &-panel{
                background-color: #5661ee;
                border-left: 0;
                border-radius: 0 6px 6px 0;
                *{
                    color: #ffffff;
                }
                &-lunar{
                    &-day{
                        width: 80px;
                        height: 80px;
                        background-color: #a9b3f7;
                        border-radius: 10px;
                        font-size: 40px;
                        font-weight: bold;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto 15px auto;
                        cursor: pointer;
                        user-select: none;
                        position: relative;
                        &:hover{
                            color: #5661ee;
                            background-color: #ffffff;
                        }
                        &:after{
                            content: attr(title);
                            font-size: 12px;
                            left: 0;
                            right: 0;
                            bottom: 12px;
                        }
                    }
                    &-text{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 14px;
                        &>*{
                            margin-bottom: 10px;
                        }
                        &-festival{
                            width: 100%;
                        }
                    }
                    &-task{
                        width: 100%;
                        background-color: #6d7bf1;
                        margin-top: 15px;
                        display: flex;
                        flex-direction: column;
                        &>*{
                            display: flex;
                            padding:5px 10px;
                            &+*{
                                border-top: 1px solid #ffffff;
                            }
                            &>*{
                                display: flex;
                                align-items: center;
                                &:nth-child(1){
                                    flex: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.wp-calendar-content-day-available{
    .wp-calendar-content-day-disabled{
        background-color: transparent !important;
        cursor: pointer;
        .wp-calendar-content-day-cell{
            cursor: pointer;
            &:hover{
                background-color: #fd7653;
                color: #ffffff;
            }
        }
    }
    .wp-calendar-content-day-not-disabled-available{
        background-color: #fed4cb;
        &.wp-calendar-content-day-active-map{
            //border-radius: 100%;
        }
    }
    .wp-calendar-content-day-is-daterange-start{
        border-radius: 17px 0 0 17px;
    }
    .wp-calendar-content-day-is-daterange-end{
        border-radius: 0 17px 17px 0;
    }
    .wp-calendar-content-day-is-daterange-start{
        &.wp-calendar-content-day-is-daterange-end{
            border-radius:17px;
        }
    }
}

