.wp-collapse-item {
    &__title {
        padding: 10px;
        border-bottom: 1px solid #eee;
        cursor: default;
    }
    &__content {
        padding: 10px;
    }
    &.wp-collapse-item--disabled {
        .wp-collapse-item__title {
            cursor: not-allowed;
            opacity: .5;
        }
    }
}