.wp-collapse-item {
    &__title {
      padding: 10px;
      border-bottom: 1px solid #eee;
      cursor: default;
      display: flex;
      align-items: center;
      &-text {
        flex: 1;
        overflow: hidden;
      }
      &-icon {
        color: #999;
        margin-left: 5px;
        transition: transform 0.2s;
        &.active {
          transform: rotate(180deg);
        }
      }
    }
    &__content {
      padding: 10px;
      box-sizing: content-box;
    }
    &.wp-collapse-item--disabled {
      .wp-collapse-item__title {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }