.wp-date-picker{
    &-footer{
        border-top: 1px solid #eeeeee;
        padding: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.wp-date-picker-panel-popover{
    .wp-popover-content{
        .wp-select-panel{
            max-height: initial;
            .wp-calendar{
                width: 400px;
                .wp-calendar-content{
                    padding: 0;
                }
            }
        }
    }
    &-week{
        .wp-select-panel{
            .wp-calendar{
                .wp-calendar-content{
                    .wp-calendar-content-day-week{
                        cursor: pointer;
                        &:hover{
                            background-color: #f2f6fc;
                            border-radius: 22px;
                        }
                        .wp-calendar-content-day{
                            min-height: 45px;
                            margin-bottom: 0;
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}
