.wp-date-picker{
    &-footer{
        border-top: 1px solid #eeeeee;
        padding: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &-prefix-icon{
        color: #d9d9d9;
        font-size: 16px;
    }
    .wp-select-show{
        .wp-date-picker-prefix-icon{
            color: #4b98fc;
        }
    }
    .wp-select-input-multiple {
        .wp-input--element{
            max-height: 150px;
            overflow-x: hidden;
        }
        .wp-input--element-content{
            overflow: hidden;
        }
        .wp-tag--text{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
        }
    }
    &-daterange{
        display: inline-flex;
        justify-items: center;
        align-items: center;
        &-symbol{
            margin: 0 15px;
            font-size: 14px;
        }
    }
}
.wp-date-picker-panel-popover{
    .wp-popover-content{
        .wp-select-panel{
            max-height: initial;
            .wp-calendar{
                width: 400px;
                .wp-calendar-content{
                    padding: 0;
                }
            }
        }
    }
    &-week{
        .wp-select-panel{
            .wp-calendar{
                .wp-calendar-content{
                    .wp-calendar-content-day-week{
                        cursor: pointer;
                        &:hover{
                            background-color: #f2f6fc;
                            border-radius: 22px;
                        }
                        .wp-calendar-content-day{
                            min-height: 45px;
                            margin-bottom: 0;
                            display: flex;
                            justify-content: center;
                            &.wp-calendar-content-day-week-map{
                                background-color: #f2f6fc;
                                &:first-child{
                                    border-radius: 100% 0 0 100%;
                                }
                                &:last-child{
                                    border-radius: 0 100%  100% 0;
                                    .wp-calendar-content-day-cell{
                                        background-color: #3875f9;
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
