.wp-image {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    > img {
        width: 100%;
        height: 100%;
    }
}