.wp-layout {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: auto;
    &-content {
        flex: 1;
        overflow: auto;
    }
    &-aside {
        overflow: auto;
    }
}