.wp-list {
    &--tip {
        text-align: center;
        font-size: 12px;
        padding: 10px;
        &__loading {
            color: var(--wp-color-primary);
        }
        &__error {
            color: var(--wp-color-danger);
        }
        &__finished {
            color: #ccc;
        }
    }
}