.wp-maps{
    position: relative;
    &-container{
        min-height: 500px;
    }
    &-copyright{
        position: absolute;
        left: 15px;
        bottom: 5px;
        font-size: 12px;
    }
    .amap-logo,.amap-copyright{
        display: none !important;
    }
    &-auto-complete{
        position: absolute;
        left: 15px;
        top: 15px;
        background-color: #ffffff;
        &-panel{
            .wp-select-panel{
                .wp-select-panel-option{
                    margin-top: 0;
                    &+.wp-select-panel-option{
                        border-top: 1px solid #d8d8d8;
                    }
                }
            }
            &-item{
                &>*{
                    font-size: 12px;
                    color: #999999;
                    display: flex;
                    align-items: center;
                    .wp-icon{
                        margin-right: 5px;
                    }
                    &:nth-child(1){
                        color: #000000;
                        font-weight: bold;
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    &-panel{
        position: absolute;
        right: 15px;
        top: 15px;
        background-color: #ffffff;
        max-width: 30%;
        width: 300px;
        height: calc(100% - 30px);
        &-box{
            padding: 15px;
        }
        &-draggable{
            display: flex;
            flex-direction: column;
            height: 100%;
            &-box{
                flex: 1;
                overflow-x: hidden;
                &-item{
                    padding: 10px 15px;
                    display: flex;
                    align-items: center;
                    &+&{
                        border-top: 1px dashed #d8d8d8;
                    }
                    &:hover{
                        background-color: #eeeeee;
                    }
                    .wp-ellipsis{
                        width: 100%;
                        flex: 1;
                        font-size: 14px;
                    }
                    .wp-icon{
                        color: #ababab;
                        cursor: pointer;
                        &:hover{
                            color: #ff0000;
                        }
                    }
                }
            }
            &-footer{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;
                &>*{
                    flex: 1;
                }
            }
        }
    }
}
