:root {
    --wp-menu-padding-top-bottom: 15px;
    --wp-menu-padding-left-right: 15px;
    --wp-menu-font-size: 15px;
    --wp-menu-max-width: 800px;
    --wp-menu-item-min-width: 200px;
    --wp-menu-active-color: var(--wp-color-primary);
    --wp-menu-arrow-color: #909399;
    --wp-menu-hover-color: #ecf5ff;
    --wp-menu-indent: 20px;
    --wp-menu-color: #333;
}
.wp-menu {
    max-width: var(--wp-menu-max-width);
    min-width: var(--wp-menu-max-width);
    transition: max-width .2s, min-width .2s;
    overflow: hidden;
    font-size: var(--wp-menu-font-size);
    line-height: 1em;
    &.wp-menu__row {
        max-width: 100%;
        overflow: auto;
        > .wp-menu-item {
            display: inline-flex;
            > .wp-menu-item-title {
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .wp-menu-item__text {
                    width: auto;
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: var(--wp-menu-active-color);
                    transform: scaleX(0);
                    transition: transform .2s;
                }
                &.wp-menu-item__active {
                    &::after {
                        transform: scale(1);
                    }
                }
            }
        }
    }
    &.wp-menu__collapse {
        max-width: calc(1em + var(--wp-menu-padding-left-right) * 2);
        min-width: calc(1em + var(--wp-menu-padding-left-right) * 2);
    }
    .wp-collapse-item {
        &.wp-menu-item__active > .wp-collapse-item__title {
            color: var(--wp-menu-active-color);
        }
    }
    .wp-collapse-item__content {
        padding: 0;
        // padding-left: var(--wp-menu-indent);
    }
}
.wp-menu-item {
    color: var(--wp-menu-color);
    > .wp-collapse-item {
        .wp-collapse-item__title {
            padding-left: calc(var(--wp-menu-padding-left-right) + var(--wp-menu-current-indent));
        }
        > .wp-collapse-item__content {
            > .wp-menu-item > .wp-menu-item-title {
                padding-left: calc(var(--wp-menu-padding-left-right) + var(--wp-menu-current-indent));
            }
        }
    }
    &__icon {
        width: 1em;
        display: inline-flex;
        height: 1em;
        font-size: 1em;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        line-height: 0;
        vertical-align: middle;
    }
    &__text {
        vertical-align: middle;
        display: inline-flex;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        transition: .2s;
    }
    .wp-collapse-item__title-icon {
        font-size: 12px;
        color: var(--wp-menu-arrow-color);
    }
    &__arrow {
        position: absolute;
        right: var(--wp-menu-padding-left-right);
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 12px;
        color: var(--wp-menu-arrow-color);
    }
    &-title {
        &.wp-menu-item__with-arrow {
            padding-right: calc(var(--wp-menu-padding-left-right) + 17px);
        }
    }
    &-title,
    .wp-collapse-item__title {
        position: relative;
        white-space: nowrap;
        padding: var(--wp-menu-padding-top-bottom) var(--wp-menu-padding-left-right);
        cursor: pointer;
        transition: color .2s, background-color .2s;
        border: 0;
        &:not(.wp-menu-item__diabeld):hover {
            background-color: var(--wp-menu-hover-color);
        }
        &.wp-menu-item__active {
            color: var(--wp-menu-active-color);
        }
        &-text {
            min-width: 1em;
        }
    }
    &__diabled {
        opacity: .6;
        cursor: not-allowed;
    }
}
.wp-menu-tooltip {
    font-size: var(--wp-menu-font-size);
}
.wp-menu-popover {
    > .wp-popover-content {
        font-size: var(--wp-menu-font-size);
        padding: 0;
        overflow: hidden;
        > .wp-menu-item {
            min-width: var(--wp-menu-item-min-width);
        }
    }
}