:root {
    --wp-modal-duration: .3s;
}
.wp-modal {
    max-height: 100%;
    background-color: #fff;
    border-radius: var(--wp-modal-border-radius);
    overflow: auto;
    font-size: 15px;
    transition: var(--wp-modal-duration);
    &__drawer {
        border-radius: 0;
        &-left {
            border-top-right-radius: var(--wp-modal-border-radius);
            border-bottom-right-radius: var(--wp-modal-border-radius);
        }
        &-right {
            border-top-left-radius: var(--wp-modal-border-radius);
            border-bottom-left-radius: var(--wp-modal-border-radius);
        }
        &-left,
        &-right {
            height: 100% !important;
        }
        &-top {
            border-bottom-left-radius: var(--wp-modal-border-radius);
            border-bottom-right-radius: var(--wp-modal-border-radius);
        }
        &-bottom {
            border-top-left-radius: var(--wp-modal-border-radius);
            border-top-right-radius: var(--wp-modal-border-radius);
        }
        &-top,
        &-bottom {
            width: 100% !important;
        }
    }
    .wp-modal__header {
        display: flex;
        padding: 15px 20px;
        font-size: 16px;
        color: #333;
        border-bottom: 1px solid #eee;
        align-items: center;
        &-text {
            flex: 1;
            font-weight: bold;
        }
        .wp-modal__icon {
            color: #999;
            cursor: pointer;
            font-size: 18px;
        }
    }
    .wp-modal__content {
        padding: 20px;
    }
    .wp-modal__footer {
        padding: 15px 20px;
        border-top: 1px solid #eee;
    }
    &.wp-modal__no-border {
        .wp-modal__header,
        .wp-modal__footer {
            border: 0;
        }
    }
}

.wp-modal__overlay {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    &-top {
        align-items: flex-start;
    }
    &-bottom {
        align-items: flex-end;
    }
    &-left {
        justify-content: flex-start;
    }
    &-right {
        justify-content: flex-end;
    }
}

.wp-modal-fade-enter-active,
.wp-modal-fade-leave-active,
.wp-modal-left-enter-active,
.wp-modal-left-leave-active,
.wp-modal-right-enter-active,
.wp-modal-right-leave-active,
.wp-modal-top-enter-active,
.wp-modal-top-leave-active,
.wp-modal-bottom-enter-active,
.wp-modal-bottom-leave-active {
    transition: var(--wp-modal-duration);
}

.wp-modal-fade-enter-from,
.wp-modal-fade-leave-to {
    transform: scale(0);
    opacity: 0;
}

.wp-modal-left-enter-from,
.wp-modal-left-leave-to {
    transform: translateX(-100%);
    opacity: 0;
}

.wp-modal-right-enter-from,
.wp-modal-right-leave-to {
    transform: translateX(100%);
    opacity: 0;
}

.wp-modal-top-enter-from,
.wp-modal-top-leave-to {
    transform: translateY(-100%);
    opacity: 0;
}

.wp-modal-bottom-enter-from,
.wp-modal-bottom-leave-to {
    transform: translateY(100%);
    opacity: 0;
}