.wp-popover {
    position: relative;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    background-color: var(--wp-popover-bg-color, #fff);
    color: var(--wp-popover-color, #666);
    border-radius: 4px;
    &.wp-popover__dark {
        --wp-popover-bg-color: #000;
        --wp-popover-color: #fff;
    }
    &-content {
        padding: 10px 15px;
        z-index: 1;
    }
    .wp-popover-arrow {
        z-index: 0;
        position: absolute;
        width: 6px;
        height: 6px;
        transform: rotate(45deg);
        background-color: var(--wp-popover-bg-color, #fff);
    }
}

[v-placement="top"] > .wp-popover,
[v-placement="top-start"] > .wp-popover
[v-placement="top-end"] > .wp-popover {
    margin-bottom: 10px;
    transform-origin: bottom;
    > .wp-popover-arrow {
        bottom: -3px;
        left: calc(50% - 3px);
    }
}

[v-placement="top-start"] > .wp-popover,
[v-placement="bottom-start"] > .wp-popover{
    > .wp-popover-arrow {
        left: 20%;
    }
}

[v-placement="top-end"] > .wp-popover,
[v-placement="bottom-end"] > .wp-popover{
    > .wp-popover-arrow {
        left: inherit;
        right: 20%;
    }
}

[v-placement="bottom"] > .wp-popover,
[v-placement="bottom-start"] > .wp-popover,
[v-placement="bottom-end"] > .wp-popover {
    transform-origin: top;
    margin-top: 10px;
    > .wp-popover-arrow {
        top: -3px;
        left: calc(50% - 3px);
    }
}
[v-placement="right"] > .wp-popover,
[v-placement="right-start"] > .wp-popover,
[v-placement="right-end"] > .wp-popover {
    transform-origin: left;
    margin-left: 10px;
    > .wp-popover-arrow {
        left: -3px;
        top: calc(50% - 3px);
    }
}
[v-placement="left"] > .wp-popover,
[v-placement="left-start"] > .wp-popover,
[v-placement="left-end"] > .wp-popover {
    transform-origin: right;
    margin-right: 10px;
    > .wp-popover-arrow {
        right: -3px;
        top: calc(50% - 3px);
    }
}
[v-placement="right-start"] > .wp-popover,
[v-placement="left-start"] > .wp-popover {
    .wp-popover-arrow {
        top: 20%;
    }
}

[v-placement="right-end"] > .wp-popover,
[v-placement="left-end"] > .wp-popover {
    .wp-popover-arrow {
        top: inherit;
        bottom: 20%;
    }
}

.popover-transition-enter-from,
.popover-transition-leave-to {
    transition: transform .2s, opacity .2s;
    opacity: 0;
    transform: scale(.8);
}

.popover-transition-leave-from,
.popover-transition-enter-to {
    transition: transform .2s, opacity .2s;
    opacity: 1;
}

