.wp-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    &-icon {
        font-size: 200px;
        line-height: 1;
        display: flex;
        color: var(--wp-color-primary);
    }
    &-message {
        font-size: 30px;
        font-weight: bold;
        color: #000;
    }
    &-description {
        font-size: 14px;
        color: #999;
    }
}