:root{
  --wp-select--min-width:240px;
}
.wp-select{
  width: var(--wp-select--min-width);
  cursor: pointer;
  *{
    cursor: pointer;
  }
  &-input{
    &:not(.wp-input--disabled) {
      border-color: #dcdfe6;
    }
    &:not(.wp-input--disabled):not(.wp-input--focused):hover {
      border-color: #ccc;
    }
  }
  &-icon{
    transition: all ease-in-out 0.3s;
    transform: rotate(0);
  }

  &-show{
    &-input{
      &:not(.wp-input--disabled) {
        border-color: var(--wp-color-primary);
      }
      &:not(.wp-input--disabled):not(.wp-input--focused):hover {
        border-color: var(--wp-color-primary);
      }
    }
    &-icon{
      &-active{
        transform: rotate(180deg);
      }
    }
  }
  &-panel-popover{
    .wp-popover-content{
      padding: 0;
    }
  }
  &-panel{
    overflow: auto;
    max-height: 300px;
    z-index: 111;
    position: relative;
    user-select: none;
    &-option{
      min-width: var(--wp-select--min-width);
      padding: 10px 15px;
      cursor: pointer;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover{
        background-color: #eeeeee;
      }
      &-disabled{
        color: #c0c4cc;
        cursor: not-allowed;
        &:hover{
          background-color: transparent;
        }
      }
      &-active{
        color: #3a8ee6;
      }
      &-empty{
        color: #c0c4cc;
        text-align: center;
        &:hover{
          background-color: transparent;
        }
      }
    }
  }
}
