:root {
    --wp-table-font-size: 14px;
    --wp-table-boder-color: #ebeef5;
    --wp-table-stripe-color: #fafafa;
    --wp-table-tr-hover-color: var(--wp-table-stripe-color);
    --wp-table-tr-cell-background-color: #ffffff;
}

//todo 按钮文字
@mixin styleInit($color, $n){
  background-color:adjust-color($color,$lightness:$n);
  color: $color;
  padding:2px 5px;
  border:1px solid $color;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  &:hover,&:active,&:focus{
    color: #ffffff;
    background-color:$color;
    border-color: $color;
  }
}
@mixin colorBaInitFun($className,$color,$n:35%){
  &.#{$className}_bg{
    @include styleInit($color,$n);
  }
  &.#{$className}_bg_init{
    @include styleInit($color,$n);
    padding: 12px 20px;
  }
  &.#{$className}{
    color: $color;
  }
  &.#{$className}_link{
    color:$color;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}

@mixin colorInit(){
  @include colorBaInitFun(default,#999999);
  @include colorBaInitFun(success,#67C23A);
  @include colorBaInitFun(delete,#f00);
  @include colorBaInitFun(primary,#409eff);
  @include colorBaInitFun(orange,#E15501);
  @include colorBaInitFun(black,#000000);
}
.WpColor{
  @include colorInit();
}


.wp-table {
  .wp-table--body{
    .wp-table--empty{
      text-align: center;
      width: 100%;
      min-height: 100px;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #999999;
    }
    &-content{
    }
    table{
      margin: 0;
      width: 100%;
      thead{
        tr{
          th{
            border-bottom: 1px solid var(--wp-table-boder-color);
            background-color:var(--wp-table-tr-cell-background-color);
          }
        }
      }
      tbody{
        tr{
          td{
            border-bottom: 1px solid var(--wp-table-boder-color);
            background-color:var(--wp-table-tr-cell-background-color);
          }
          &:hover{
            background-color: var(--wp-table-tr-hover-color);
          }
          &.stripe{
            &:nth-child(2n){
              td{
                background-color: var(--wp-table-stripe-color);
              }
            }
          }
          &.draggable-is-active{
            $color: #d8d8d8;
            td{
              border-bottom: 3px solid $color !important;
            }
            &.draggable-is-active-inset{
              td{
                border-bottom: none !important;
                background-color: $color !important;
              }
            }
            &.draggable-is-active-start{
              td{
                //cursor: no-drop !important;
              }
            }
            &.draggable-is-active-forbid{
              td{
                //cursor: no-drop !important;
                border-bottom: 1px solid var(--wp-table-boder-color) !important;
              }
            }
          }
        }
      }
    }
    .cell{
      font-size: var(--wp-table-font-size);
      &.cell-tree-item{
        display: flex;
        align-items: center;
        i{
          $index:5px;
          &.cell-tree-item-arrow{
            display: inline-block;
            width: $index;
            height: $index;
            margin-right: 14px;
            transition: all ease-in-out 0.3s;
            transform: rotate(45deg);
            &.cell-tree-item-arrow-parent{
              border: 1px solid #4c4c4c;
              border-left: none;
              border-bottom: none;
              cursor: pointer;
              &:hover{
                border-color: #3a8ee6;
              }
              &.cell-tree-item-arrow-parent-open{
                transform: rotate(135deg);
              }
            }
          }
        }
      }
      &-sort{
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        &-content{
          display: flex;
          flex-direction: column;
          margin-left: 5px;
          cursor: pointer;
          .active{
            color: #3a8ee6;
          }
        }
      }
      &-filter{
        *{
          display: flex;
          align-items: center;
        }
        &-icon{
          color: #999999;
        }
      }
      &-edit-input{
        display: flex;
        flex-shrink: 0;
        align-items: center;
        &>*{
          &.wp-input{
            min-width: 120px;
          }
          &:last-child{
            margin-left: 10px;
          }
        }
        &-icon{
          cursor: pointer;
          margin-right: 10px;
          &:hover{
            color: #3a8ee6;
          }
        }
      }
      &-operate-btns{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        &>*{
          margin: 0;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  &--border{
    thead{
      tr{
        th{
          border: 1px solid var(--wp-table-boder-color);
        }
      }
    }
    tbody{
      tr{
        td{
          border: 1px solid var(--wp-table-boder-color);
        }
      }
    }
  }
  &--fixed-header{
    position: relative;
    .scroll-barCon {
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 13px;
      height: 100%;
      overflow: hidden;
      z-index: 20;
    }
    .scroll-bar {
      width: 10px;
      height: 0px;
      position: relative;
      left: 1px;
      top: 0px;
      cursor: pointer;
      overflow: hidden;
    }
    .scroll-bar span {
      display: block;
      width: 100%;
      position: absolute;
      margin: auto;
      background: #7d7d7d;
      border-radius: 50px;
      opacity: 0.8;
      filter: alpha(opacity=80);
      left: 0px;
      right: 0px;
      top: 3px;
      bottom: 3px;
    }
    &--wrapper--box{
      overflow-y: hidden;
    }
    &--wrapper{
      position: relative;
      .wp-table--body{
        position: relative;
      }
    }
    .wp-table--body{
      thead{
        display: none;
      }
      &--fixed-header{
        z-index: 1;
        position: relative;
        thead{
          display: table-header-group;
          tr{
            th{
              border-bottom: none !important;
            }
          }
        }
        tbody{
          height: 0;
          overflow: hidden;
          transform: scale(0);
          *{
            height: 0px;
            overflow: hidden;
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
.wp-table-thead-cell-filter-content{
  display: flex;
  align-items: center;
  &-checkbox{
    margin-right: 10px;
  }
}
