:root {
    --wp-table-font-size: 14px;
    --wp-table-boder-color: #ebeef5;
    --wp-table-stripe-color: #fafafa;
    --wp-table-tr-hover-color: var(--wp-table-stripe-color);
}

.wp-table {
  overflow: auto;
  .wp-table--body{
    overflow-x: hidden;
    //width: calc(100% - 100px);
    &-content{
      padding-right: 100px;
    }
    table{
      margin: 0;
      thead{
        tr{
          th{
            border-bottom: 1px solid var(--wp-table-boder-color);
          }
        }
      }
      tbody{
        tr{
          td{
            border-bottom: 1px solid var(--wp-table-boder-color);
          }
          &:hover{
            background-color: var(--wp-table-tr-hover-color);
          }
          &.stripe{
            &:nth-child(2n){
              td{
                background-color: var(--wp-table-stripe-color);
              }
            }
          }
        }
      }
    }
    .cell{
      font-size: var(--wp-table-font-size);
    }
  }
  &--border{
    thead{
      tr{
        th{
          border: 1px solid var(--wp-table-boder-color);
        }
      }
    }
    tbody{
      tr{
        td{
          border: 1px solid var(--wp-table-boder-color);
        }
      }
    }
  }
  &--fixed-header{
    .wp-table--body{
      //overflow-x: hidden;
      thead{
        display: none;
      }
      &--fixed-header{
        thead{
          display: table-header-group;
          tr{
            th{
              border-bottom: none !important;
            }
          }
        }
        tbody{
          height: 0;
          overflow: hidden;
          *{
            height: 0;
            overflow: hidden;
            padding-top: 0;
            padding-bottom: 0;
            border-color: transparent;
          }
          tr{
            display: none;
            &:first-child{
              display: table-row;
              td{
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}
