:root {
    --wp-tag-bg-color: #f5f5f5;
    --wp-tag-color: #333;
    --wp-tag-font-size: 13px;
    --wp-tag-padding-top-bottom: 4px;
    --wp-tag-padding-left-right: 8px;
}

.wp-tag {
    color: var(--wp-tag-color);
    background-color: var(--wp-tag-bg-color);
    display: inline-flex;
    font-size: var(--wp-tag-font-size);
    padding: var(--wp-tag-padding-top-bottom) var(--wp-tag-padding-left-right);
    align-items: center;
    &--icon {
        margin-right: 4px;
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    &--close {
        margin-left: 4px;
        display: flex;
        align-items: center;
        font-size: 12px;
        padding: 1px;
        transition: .2s;
        border-radius: 50%;
        &:hover {
            color: var(--wp-tag-bg-color);
            background-color: var(--wp-tag-color);
        }
    }
    &-small {
        --wp-tag-font-size: 12px;
        --wp-tag-padding-top-bottom: 3px;
        --wp-tag-padding-left-right: 6px;
    }
    &-medium {
        --wp-tag-font-size: 14px;
        --wp-tag-padding-top-bottom: 5px;
        --wp-tag-padding-left-right: 10px;
    }
    &-large {
        --wp-tag-font-size: 16px;
        --wp-tag-padding-top-bottom: 8px;
        --wp-tag-padding-left-right: 16px;
    }
}