:root {
    --wp-toast-duration: .2s;
}

.wp-toast {
    pointer-events: none;
    position: fixed;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    &__absolute {
        position: absolute;
    }
    &__bottom {
        bottom: 10%;
    }
    &__top {
        top: 10%;
    }
    &__center {
        top: 0;
        height: 100%;
        align-items: center;
    }
    &-message {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #000;
        background-color: #fff;
        padding: 8px 12px;
        font-size: 13px;
        border-radius: 10px;
        max-width: 300px;
        line-height: 20px;
        box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.03), 0 6px 16px 0 rgba(0, 0, 0, 0.02), 0 9px 28px 8px rgba(0, 0, 0, 0.03);
        &__dark {
            color: #fff;
            background-color: #333;
        }
    }
}

.wp-toast--spec {
    display: flex;
    align-items: center;
    > .wp-icon {
        margin-right: .5em;
    }
}

.wp-toast-fade-enter-active,
.wp-toast-fade-leave-active {
    transition: var(--wp-toast-duration);
}

.wp-toast-fade-enter-from,
.wp-toast-fade-leave-to {
    transform: scale(.9) !important;
    opacity: 0;
}