:root {
    --wp-tree-indent: 18px;
    --wp-tree-font-size: 14px;
    --wp-tree-node-hegiht: 30px;
    --wp-tree-hover-bg: #fafafa;
    --wp-tree-link-bg: #ccc;
    --wp-tree-link-size: 1px;
    --wp-tree-padding-top-bottom: 5px;
    --wp-tree-padding-left-right: 5px;
    --wp-tree-dropline-size: 5px;
    --wp-tree-drop-bg: #eee;
    --wp-tree-arrow-color: #ccc;
    --wp-tree-arrow-size: 12px;
    --wp-tree-selecting-color: #f5f5f5;
}

.wp-tree {
    cursor: default;
    font-size: var(--wp-tree-font-size);
    &-nodes {
        overflow: auto;
    }
    &-node {
        display: flex;
        padding: var(--wp-tree-padding-top-bottom) var(--wp-tree-padding-left-right);
        height: var(--wp-tree-node-hegiht);
        position: relative;
        box-sizing: border-box;
        &:hover {
            background: var(--wp-tree-hover-bg);
        }
        &__indent {
            &-cell {
                display: inline-block;
                width: var(--wp-tree-indent);
                &--link {
                    position: relative;
                    height: 100%;
                    &::after {
                        content: '';
                        position: absolute;
                        left: calc(50% - var(--wp-tree-link-size) / 2);
                        top: calc(-0px - var(--wp-tree-padding-top-bottom));
                        height: calc(100% + var(--wp-tree-padding-top-bottom) * 2);
                        width: var(--wp-tree-link-size);
                        background: var(--wp-tree-link-bg);
                    }
                }
            }
        }
        &__dropline {
            position: absolute;
            left: 0;
            width: 100%;
            height: var(--wp-tree-dropline-size);
            background-color: transparent;
            &.top {
                top: 0;
            }
            &.bottom {
                bottom: 0;
            }
        }
        &__ondrag {
            background: var(--wp-tree-drop-bg);
        }
        &__title {
            display: flex;
            align-items: center;
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            .wp-checkbox,
            .wp-radio {
                margin-right: var(--wp-tree-padding-left-right);
            }
        }
        &__content {
            flex: 1;
            overflow: hidden;
            display: flex;
            align-items: center;
        }
        &__arrow {
            font-size: var(--wp-tree-arrow-size);
            color: var(--wp-tree-arrow-color);
            width: var(--wp-tree-indent);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            &.left {
                margin-right: var(--wp-tree-padding-left-right);
            }
            &.right {
                margin-left: var(--wp-tree-padding-left-right);
                width: auto;
            }
            .loading {
                animation: wp-tree-loading infinite 1s;
            }
            > .wp-icon {
                transition: transform .2s;
            }
            > .wp-icon.expend {
                transform: rotate(90deg);
            }
        }
        &__selecting-disabled {
            cursor: not-allowed;
            opacity: .9;
        }
        &__selecting {
            background-color: var(--wp-tree-selecting-color) !important;
        }
    }
}

@keyframes wp-tree-loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}