:root {
    --wp-upload-success: var(--wp-color-success);
    --wp-upload-waiting: var(--wp-color-primary);
    --wp-upload-fail: var(--wp-color-danger);
    --wp-upload-loading: #d9d9d9;
    --wp-upload-drag-icon-color: #d9d9d9;
    --wp-upload-drag-icon-size: 64px;
    --wp-upload-font-size: 13px;
    --wp-upload-icon-size: 15px;
    --wp-upload-active-color: var(--wp-color-primary);
    --wp-upload-item-padding: 5px;
    --wp-upload-item-hover-bg: #fcfcfc;
    --wp-upload-card-color: rgb(215, 217, 219);
    --wp-upload-card-bg: rgb(246, 247, 249);
    --wp-upload-card-active-bg: rgb(240, 241, 243);
    --wp-upload-card-overlay-bg: rgba(0, 0, 0, 153);
}

.wp-upload {
    font-size: var(--wp-upload-font-size);
    line-height: 1.5em;
    &__file {
        display: none;
    }
    &__cell {
        display: flex;
        align-items: center;
        padding: var(--wp-upload-item-padding);
        a {
            color: var(--wp-upload-active-color);
        }
        &-name {
            flex: 1;
            overflow: hidden;
            margin: 0 var(--wp-upload-item-padding);
            text-align: left;
        }
        &__chunks {
            &__wrapper {
                max-height: 147.5px;
                overflow: hidden;
                box-sizing: content-box;
            }
        }
        &-progress {
            margin-left: var(--wp-upload-item-padding);
            color: var(--wp-upload-loading);
            cursor: default;
        }
        &-status {
            font-size: var(--wp-upload-icon-size);
            &-0 {
                color: var(--wp-upload-success);
            }
            &-1 {
                color: var(--wp-upload-waiting);
            }
            &-2 {
                color: var(--wp-upload-loading);
                animation: wp-upload-loading infinite 1s;
            }
            &-3 {
                color: var(--wp-upload-fail);
            }
        }
        &-delete,
        &-retry {
            cursor: pointer;
        }
        &:hover {
            background: var(--wp-upload-item-hover-bg);
        }
    }
    &__drag-icon {
        font-size: var(--wp-upload-drag-icon-size);
        color: var(--wp-upload-drag-icon-color);
        margin-bottom: 20px;
    }
    &__drag-button {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        box-sizing: border-box;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        flex-direction: column;
        transition: border .2s;
        em {
            font-style: normal;
            color: var(--wp-upload-active-color);
        }
    }
    &:not(.wp-upload__disabled) {
        .wp-upload__drag-button {
            &.wp-upload__upload__drag-button__dragover,
            &:hover {
                border-color: var(--wp-upload-active-color);
            }
        }
    }
    &.wp-upload__disabled {
        .wp-upload__drag-button {
            cursor: not-allowed;
        }
    }
    &__card {
        height: 100px;
        width: 100px;
        color: var(--wp-upload-card-color);
        font-size: 24px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: var(--wp-upload-card-bg);
        position: relative;
        .wp-image {
            height: 100%;
            width: 100%;
        }
        &:active {
            background-color: var(--wp-upload-card-active-bg);
        }
        &-close {
            position: absolute;
            top: 0;
            right: 0;
            color: #fff;
            background-color: var(--wp-upload-card-overlay-bg);
            font-size: 12px;
            padding: 2px;
            display: flex;
            z-index: 2;
        }
        &-overlay {
            z-index: 1;
            position: absolute;
            top: 0;
            right: 0;
            background-color: var(--wp-upload-card-overlay-bg);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            color: #fff;
            &.is-loading {
                .wp-icon {
                    animation: wp-upload-loading infinite 1s;
                }
            }
        }
    }
}

@keyframes wp-upload-loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}