@use 'sass:map';

// CSS3 var
@use 'common/var' as *;
@use 'mixins/var' as *;

// for better performance do not dynamically change the root variable if you really
// do not need that, since this could introduce recalculation overhead for rendering.
// https://lisilinhart.info/posts/css-variables-performance/

:root {
  --wp-color-white: #{$color-white};
  --wp-color-black: #{$color-black};

  --wp-color-primary: #{$color-primary};

  @for $i from 1 through 9 {
    @include set-css-color-type-light('primary', $i);
  }

  // --wp-color-#{$type}
  // --wp-color-#{$type}-light-{$i}
  @each $type in (success, warning, danger, error, info) {
    @include set-css-color-type($type);
  }

  // Background
  --wp-bg-color-base: #{$background-color-base};

  // Border
  --wp-border-width-base: #{$border-width-base};
  --wp-border-style-base: #{$border-style-base};
  --wp-border-color-hover: #{$border-color-hover};
  --wp-border-base: var(--wp-border-width-base) var(--wp-border-style-base)
    var(--wp-border-color-base);

  // Svg
  --wp-svg-monochrome-grey: #dcdde0;

  // Fill
  --wp-fill-base: var(--wp-color-white);

  // Typography
  @include set-component-css-var('font-size', $font-size);

  --wp-font-weight-primary: 500;
  --wp-font-line-height-primary: 24px;
  --wp-text-color-disabled-base: #bbb;

  // z-index
  --wp-index-normal: 1;
  --wp-index-top: 1000;
  --wp-index-popper: 2000;

  // --wp-text-color-#{$type}
  @include set-component-css-var('text-color', $text-color);
  // --wp-border-color-#{$type}
  @include set-component-css-var('border-color', $border-color);
  // --wp-border-radius-#{$type}
  @include set-component-css-var('border-radius', $border-radius);
  // Box-shadow
  // --wp-box-shadow-#{$type}
  @include set-component-css-var('box-shadow', $box-shadow);
  // Disable base
  @include set-component-css-var('disabled', $disabled);

  /* Transition
-------------------------- */
  // refer to this website to get the bezier motion function detail
  //  https://cubic-bezier.com/#p1,p2,p3,p4 (change px as your function parameter)
  --wp-transition-duration: #{map.get($transition-duration, 'default')};
  --wp-transition-duration-fast: #{map.get($transition-duration, 'fast')};

  @include set-component-css-var('transition-function', $transition-function);
  @include set-component-css-var('transition', $transition);
}
