:root {
    --wp-x-scroll-arrow-width: 30px;
    --wp-x-scroll-arrow-color: #333;
    --wp-x-scroll-arrow-color-hover: var(--wp-color-primary);
    --wp-x-scroll-arrow-left-bg: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    --wp-x-scroll-arrow-right-bg: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
    --wp-x-scroll-duration: .2s;
}
.wp-x-scroll {
    position: relative;
    &__hide {
        .wp-x-scroll-wrapper {
            scrollbar-width: none;
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }
    }
    &-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    &-arrow {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        background-image: var(--wp-x-scroll-arrow-left-bg);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        transition: color var(--wp-x-scroll-duration);
        width: var(--wp-x-scroll-arrow-width);
        color: var(--wp-x-scroll-arrow-color);
        &:hover {
            color: var(--wp-x-scroll-arrow-color-hover);
        }
        &__right {
            left: initial;
            right: 0;
            background-image: var(--wp-x-scroll-arrow-right-bg);
        }
    }
}

.wp-x-scroll-fade-enter-active,
.wp-x-scroll-fade-leave-active {
    transition: var(--wp-x-scroll-duration);
}

.wp-x-scroll-fade-enter-from,
.wp-x-scroll-fade-leave-to{
    opacity: 0;
}