.wp-pro-page-layout {
    &-top {
        display: flex;
        background-color: #fff;
        padding: 15px;
    }
    &-form {
        flex: 1;
        overflow: hidden;
        margin-right: 20px;
        font-size: 13px;
        .wp-button {
            min-width: 80px;
        }
        .wp-input {
            width: 200px;
        }
    }
    &-table {
        background-color: #fff;
        padding: 15px;
    }
    &-pagination {
        margin-top: 15px;
    }
    .wp-back-top {
        background-color: #fff;
        color: var(--wp-color-primary);
    }
}