:root {
    --c-brand: #409eff;
    --c-brand-light: #409effcc;
}

body {
    overflow: overlay;
}

table {
    width: 100%;
    display: table;
    font-size: .92rem;
}

h3, h4 {
    margin-bottom: 1rem;
}

h4 {
    margin-top: 1.5rem;
    font-size: 1rem;
}

th, td {
    border: 0;
}

th {
    text-align: left;
}

tr:nth-child(2n) {
    background-color: #fcfcfc;
}

thead tr {
    border-top: 0;
}

tr {
    border-color: #eee;
}

td em {
    color: #4fc08d;
    font-style: normal;
    letter-spacing: .5px;
    font-size: .85rem;
}

.sidebar > .sidebar-links > .sidebar-link > .sidebar-link-item {
    font-size: .95rem;
}

.sidebar > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-link-item {
    font-size: .925rem;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}